/*
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Actividad 7</title>
    <link rel="stylesheet" type="text/css" href="/Actividad_7/Septimo.css" />
    <link rel="stylesheet" type="text/css" href="../css/bordes.css" />
    <link rel="stylesheet" type="text/css" href="../css/colores_fijos.css" />
  </head>

  <style>
    p {
      color: rgb(255, 255, 255);
      font-size: 1vw;
    }
    li {
      top: 5vw;
      left: 45vw;
    }
    ul li a {
      font-size: 4vw;
    }
  </style>

  <body style="background: #000000; overflow-y: scroll">
    <div class="SMR">
      <h1 style="color: transparent">A</h1>
      <ul class="row jusify-center">
        <li style="--clr: #04bfad">
          <a data-text="&nbsp;2ºSMR">&nbsp;2ºSMR&nbsp;</a>
        </li>
      </ul>
      <div class="Servicios">
        <h1>Servicios en Red</h1>
        <p>Servicios en Red</p>
        <center>
          <img class="img" src="../Imagenes/Servicios_en_red.png" />
        </center>
      </div>
      <div class="Sistemas">
        <h1>Sistemas Operativos en Red</h1>
        <p>Sistemas Operativos en Red</p>
        <center>
          <img class="img" src="../Imagenes/Sistemas_en_red.png" />
        </center>
      </div>
      <div class="Aplicaciones">
        <h1>Aplicaciones Web</h1>
        <p>Aplicaciones Web</p>
        <center>
          <img class="img" src="../Imagenes/Programacion_Web.jpg" />
        </center>
      </div>
      <div class="Empresa">
        <h1>Empresa e Iniciativa Emprendedora</h1>
        <p>Empresa e Iniciativa Emprendedora</p>
        <center>
          <img class="img" src="../Imagenes/Empresariales.jpg" />
        </center>
      </div>
      <div class="Ingles">
        <h1>Ingles Tecnico</h1>
        <p>Ingles Tecnico</p>
        <center>
          <img class="img" src="../Imagenes/Ingles_Tecnico.jpg" />
        </center>
      </div>
      <div class="Seguridad">
        <h1>Seguridad Informatica</h1>
        <p>Seguridad Informatica</p>
        <center>
          <img class="img" src="../Imagenes/CyberSeguridad.jpg" />
        </center>
      </div>

      <a
        href="../index.html"
        class="button"
        style="position: relative; top: 7.5vw; left: 6.5vw"
        >Atras</a
      >
    </div>
  </body>
</html>